dateparser==1.2.1
jiwer==3.1.0
matplotlib==3.10.1
numpy==1.26.2
openai==1.70.0
opencv_contrib_python==4.10.0.84
opencv_python==4.11.0.86
pandas==2.0.3
pdf2image==1.17.0
pytesseract
google-cloud-vision
paddleocr 
paddlepaddle
easyocr
boto3
google-genai
google-generativeai
python-dotenv
python-Levenshtein

